### Prepros ###
# Config Prepros files to ignore
prepros.cfg
prepros-6.config

# Archivos de prueba
procesar.php
reseller/hola.php

## pug/scss
/public/dev

## Visual Estudio code
*.code-workspace

## Datos de la conexion estatus dev
connection_data.inc.php
/config/connection_data.inc.php

## Objetos sin definir.
/objects/dto
/objects/utilities.php

## Archivos de prueba
/reseller/hola.php
procesar.php
